
/* navbar */

/*
#navbar-administration [class^="icon-"],
#navbar-administration [class*=" icon-"] {
	height: auto;
	width: auto;
}

#navbar-administration .bar a {
}

#navbar-administration .bar .tab > a {
	background-image: none;
}

#navbar-administration .bar .tab > a:hover {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
}

#navbar-administration .bar .tab > a.active {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}

#navbar-administration .tray .box > a {
	background-image: none;
}

#navbar-administration .tray ul.menu li {
    background: none;
    padding-left: 0px;
}

#navbar-administration .tray ul.menu li.expanded {
    background: none;
}

#navbar-administration .tray ul.menu li a {
	padding-top: 1em;
	padding-right: 1.3333em;
	padding-bottom: 1em;
	padding-left: 1.3333em;
}

#navbar-administration #navbar-tray ul.menu li a {
	padding-left: 2.75em;
}

#navbar-administration .toggle-orientation [class^="icon-"],
#navbar-administration .toggle-orientation [class*=" icon-"] {
	height: 16px;
	width: 20px;
	background-image: none;
}
*/

/*
body .region-page-top + .container-fluid {
	margin-top: 39px !important;
}
*/

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	top: 30px;
}

#header #header_left {
	margin-bottom: 4px;
}

#header .span5 {
	width: 38.461538461538%;
}

@media screen and (max-width: 767px) {
    #header #header_left {
        margin-bottom: 4px;
    }
	#header .span5 {
        width: auto;
	}
}

#header .span7 {
	width: 58.974358974359%;
}

#zone2 {
	padding-bottom: 32px;
}

/* frontpage login */

#zone2 #left-sidebar #block-user-login {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#zone2 #left-sidebar #block-user-login .titlecontainer h3 {
	margin-bottom: 0px;
}

#zone2 #left-sidebar #block-user-login .form-item {
	margin-top: 0em;
	margin-bottom: 0em;
}

#zone2 #left-sidebar #block-user-login .form-item label {
	margin-bottom: 0px;
	font-size: smaller;
}

#zone2 #left-sidebar #block-user-login .form-item input[type="text"],
#zone2 #left-sidebar #block-user-login .form-item input[type="password"] {
	width: 95%;
}

#zone2 #left-sidebar #block-user-login form {
	margin-bottom: 0px;
}

#zone2 #left-sidebar #block-user-login .item-list {
	font-size: smaller;
}

#zone2 #left-sidebar #block-user-login .item-list ul {
	/*list-style-type: none;*/
}

#zone2 #left-sidebar #block-user-login .item-list ul li {
	list-style: disc;
	/*margin-left: 0px;*/
}

#zone2 #left-sidebar #block-user-login .form-actions {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

#zone2 #left-sidebar #block-system-user-menu {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#zone2 #left-sidebar #block-system-user-menu .titlecontainer {
	display: none;
}

#zone2 #left-sidebar #block-system-user-menu ul.menu {
	margin-bottom: 35px;
}

#zone2 #left-sidebar #block-system-user-menu ul.menu li.leaf {
	background: none;
	border: none;
	padding-left: 0px;
	display: inline;
	display: inline-block;
}

#zone2 #left-sidebar #block-system-user-menu ul.menu li.leaf a {
	padding: 3px 9px;
	display: inline;
	display: inline-block;
}

#zone1 {
	background-image: url(../waves.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

#zone2 #left-sidebar .block,
#zone2 #right-sidebar .block {
	border-bottom: transparent;
}

#zone2 #block-views-partners-map-block {
	margin-bottom: 0px;
	border-bottom: none;
}

#zone2 #block-views-partner-location-block {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#zone2 #block-views-partner-location-block .gmap {
	width: 100%;
}

#zone2 #left-sidebar .block .node-partner,
#zone2 #right-sidebar .block .node-partner {
	padding-top: 30px;
	padding-bottom: 0px;
}

#zone2 #left-sidebar .block .node-event,
#zone2 #right-sidebar .block .node-event {
	padding-top: 30px;
	padding-bottom: 0px;
}

#zone2 #block-views-event-info-block .view-event-info .field-name-field-website .field-item a {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

#zone2 #left-sidebar .block .node-inco-project {
	padding-top: 30px;
	padding-bottom: 0px;
}

#zone2 #left-sidebar .block .node-partner h2,
#zone2 #right-sidebar .block .node-partner h2 {
	display: none;
}

#zone2 #left-sidebar .block .node-event h2,
#zone2 #right-sidebar .block .node-event h2 {
	display: none;
}

#zone2 #left-sidebar .block .node-inco-project h2 {
	display: none;
}

.node-partner .node-user-picture {
	display: none;
}

.node-partner-form .field-type-image img {
	width: auto;
}

.node-stakeholder .node-user-picture {
	display: none;
}

.node-news-form .field-type-image img {
	width: auto;
}

/* /events */
.view-events .view-content div,
.view-events-project .view-content div,
.view-events-all .view-content div {
	clear: left;
	border-top: 1px solid #e2e2e2;
	padding-top: 0.25em;
	padding-bottom: 2em;
}

.view-events .view-content div div,
.view-events-project .view-content div div,
.view-events-all .view-content div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.view-events .views-field-title,
.view-events-project .views-field-title,
.view-events-all .views-field-title {
	margin-left: 4.273504273504%;
	font-weight: bold;
}

.view-events .views-field-title .field-content,
.view-events-project .views-field-title .field-content,
.view-events-all .views-field-title .field-content {
	margin-top: 0px;
	margin-bottom: 0px;
}

.view-events .views-field-title a,
.view-events-project .views-field-title a,
.view-events-all .views-field-title a {
	color: inherit;
}

.view-events .views-field-body,
.view-events-project .views-field-body,
.view-events-all .views-field-body {
	margin-left: 4.273504273504%;
}

.view-events .views-field-body .field-content > p:last-child,
.view-events-project .views-field-body .field-content > p:last-child,
.view-events-all .views-field-body .field-content > p:last-child {
	margin-bottom: 0px !important;
}

.view-events .views-field-field-event-location,
.view-events-project .views-field-field-event-location,
.view-events-all .views-field-field-event-location {
	margin-left: 4.273504273504%;
}

.view-events .views-field-field-event-location .views-label-field-event-location,
.view-events-project .views-field-field-event-location .views-label-field-event-location,
.view-events-all .views-field-field-event-location .views-label-field-event-location {
	font-weight: bold;
}

.view-events .views-field-field-event-location .field-content,
.view-events-project .views-field-field-event-location .field-content,
.view-events-all .views-field-field-event-location .field-content {
	display: inline;
}

.view-events .views-field-field-website,
.view-events-project .views-field-field-website,
.view-events-all .views-field-field-website {
	margin-left: 4.273504273504%;
}

.view-events .views-field-field-website .views-label-field-website,
.view-events-project .views-field-field-website .views-label-field-website,
.view-events-all .views-field-field-website .views-label-field-website {
	font-weight: bold;
}

.view-events .views-field-field-website .field-content,
.view-events-project .views-field-field-website .field-content,
.view-events-all .views-field-field-website .field-content {
	display: inline;
}

.node-event .node-user-picture {
	display: none;
}

/* /news */

.view-news .view-content div {
	clear: left;
	border-top: 1px solid #e2e2e2;
	padding-top: 0.25em;
	padding-bottom: 2em;
}

.view-news .view-content div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.view-news .views-field-title {
	padding-bottom: 0px;
}

.view-news .views-field-title .field-content {
	margin-top: 0px;
	margin-bottom: 0px;
}

.view-news .views-field-title a {
	color: inherit;
}

.view-news .views-field-field-photo {
	float: right;
	margin: 0 0 2.564102564103% 2.564102564103%;
	padding: 5px;
}

.view-news .views-field-field-news-date {
	padding-top: 0px;
	font-size: smaller;
	font-style: italic;
}

.view-news .views-field-field-news-date .field-content {
	padding-top: 0px;
}

.view-news .views-field-body {
	margin-left: 4.273504273504%;
}

.view-news .views-field-body .field-content p {
	margin-bottom: 5px !important;
}

.view-news .views-field-body .field-content > p:last-child {
	margin-bottom: 0px !important;
}

.view-news .views-field-view-node {
	margin-left: 4.273504273504%;
}

#news-other-sidebar {
	width: 23.076923076923077%;
	float: right;
	box-sizing: border-box;
	margin-left: 2.564102564102564%;
	color: #6f6f6f;
}

#news-other-sidebar .content-area {
	color: #ffffff;
	background-color: #00aeef;
	border-left: 4px solid #40c3f3;
	padding: 0 25px 25px 25px;
	margin-bottom: 25px;
}

#news-other-sidebar .content-area ul {
	margin-bottom: 0px;
}

#news-other-sidebar a {
	color: inherit;
}

#content-area .content .indent {
	margin-left: 4.273504273504%;
}

.field-name-group-group {
	display: none;
}

.view-group-documents .view-content div.views-row {
	border-top: 1px solid #e2e2e2;
	padding-top: 0.25em;
	padding-bottom: 2em;
}

.view-group-documents .view-content div.views-row .views-field-title .field-content {
	margin-top: 0;
	margin-bottom: 0.5em;
}

#block-block-9 {
	margin-bottom: 0 !important;
}

#block-block-9 .content p {
	margin-bottom: 0;
}

#block-block-9 .content .text-center {
	text-align: center;
}

@media screen and (max-width: 767px) {
    #news-other-sidebar {
    	float: none;
    	width: auto;
    	margin-left: 0%;
    }
}

#block-views-photo-article-block {
	float: right;
	margin: 0 0 2.564102564103% 2.564102564103%;
	max-width: 31.623931623932%;
	height: auto;
	padding: 5px;
}

#zone2 #block-views-photo-article-block {
	border-bottom: none;
}

#block-views-photo-article-block .views-field-field-photo {
	text-align: center;
}

#block-views-photo-article-block .views-field-field-photo-caption {
	margin-top: 5px;
	font-size: smaller;
}

#zone2 .node-news .field-name-field-news-date {
	font-size: smaller;
	font-style: italic;
}

/* /funding */

.view-funding .view-content div {
	clear: left;
	border-top: 1px solid #e2e2e2;
	padding-top: 0.25em;
	padding-bottom: 2em;
}

.view-funding .view-content div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.view-funding .views-field-title {
	margin-left: 4.273504273504%;
	font-weight: bold;
}

.view-funding .views-field-title .field-content {
	margin-top: 0px;
	margin-bottom: 0px;
}

.view-funding .views-field-title a {
	color: inherit;
}

.view-funding .views-field-body {
	margin-left: 4.273504273504%;
}

.view-funding .views-field-body .field-content > p:last-child {
	margin-bottom: 0px !important;
}

.view-funding .views-field-view-node {
	margin-left: 4.273504273504%;
}

/* /partners */

.view-partners .view-content div {
	clear: left;
	padding-bottom: 2em;
	border-top: 1px solid #e2e2e2;
}

.view-partners .view-content div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.view-partners .views-field-field-logo {
	float: left;
	margin-top: 2.564102564103%;
	margin-bottom: 2.564102564103%;
	width: 17.948717948718%;
}

.view-partners .views-field-field-logo img {
	width: 100%;
}

.view-partners .views-field-title {
	margin-left: 17.948717948718%;
	padding-left: 2.564102564103%;
	font-weight: bold;
}

.view-partners .views-field-title a {
	color: inherit;
}

.view-partners .views-field-body {
	margin-left: 17.948717948718%;
	padding-left: 2.564102564103%;
}

.view-partners .views-field-field-website {
	margin-left: 17.948717948718%;
	padding-left: 2.564102564103%;
}

.view-partners .views-field-field-website .views-label-field-website {
	font-weight: bold;
}

.view-partners .views-field-field-website .field-content {
	display: inline;
}

/* /stakeholders */

.view-stakeholders .view-content div {
	clear: left;
	padding-bottom: 2em;
	border-top: 1px solid #e2e2e2;
}

.view-stakeholders .view-content div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.view-stakeholders .views-field-title {
	font-weight: bold;
}

.view-stakeholders .views-field-title a {
	color: inherit;
}

.view-stakeholders .views-field-field-website .views-label-field-website {
	font-weight: bold;
}

.view-stakeholders .views-field-field-website .field-content {
	display: inline;
}

/* contact form */

#contact-site-form .form-item label {
	font-weight: bold;
	display: inline;
}

#contact-site-form .form-item input {
	display: inline;
}

#myModal .form-item label {
	font-weight: bold;
	display: inline;
}

#myModal .form-item input {
	display: inline;
	width: auto;
}

#header-left .inner {
	padding-top: 0px;
}

#footer-note {
	width: 100%;
}

.link-in-text a {
	color: inherit;
}

#zone2 .field-name-og-group-ref .field-item {
	margin-bottom: 0px;
}

#content-region .node-frontpage {
	padding-bottom: 0px;
}

#content-region .node-frontpage .node-user-picture {
	display: none;	
}

#content-region .node-frontpage .terms {
	display: none;	
}

#left-sidebar #block-views-funding-news-block {
	color: #ffffff;
	background-color: #00aeef;
	border-right: 4px solid #40c3f3;
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-row {
	border-bottom: 1px solid #e2e2e2;
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-created {
	font-size: smaller;	
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-created .field-content {
	font-size: smaller;	
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-title h4 {
	font-size: larger;
	margin: 0px;
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-title a {
	color: inherit;
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-body {
	padding-left: 5%;
	font-size: smaller;
}

#left-sidebar #block-views-funding-news-block .view-funding-news .views-field-view-node {
	font-size: smaller;
	text-align: right;
}

#block-views-funding-news-block .feed-icon {
	display: none;
}

#right-sidebar #block-views-events-upcoming-block,
#right-sidebar #block-views-project-events-block-block,
#right-sidebar #block-views-group-documents-latest-block {
	color: #ffffff;
	background-color: #00aeef;
	border-left: 4px solid #40c3f3;
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-row,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-row,
#right-sidebar #block-views-group-documents-latest-block .view-group-documents-latest .views-row {
	border-bottom: 1px solid #e2e2e2;
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-field-event-date,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-field-event-date {
	font-size: smaller;	
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-field-event-date .field-content,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-field-event-date .field-content {
	font-size: smaller;	
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-title h4,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-title h4,
#right-sidebar #block-views-group-documents-latest-block .view-group-documents-latest .views-field-title h4 {
	font-size: larger;
	margin: 0px;
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-title a,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-title a,
#right-sidebar #block-views-group-documents-latest-block .view-group-documents-latest .views-field-title a {
	color: inherit;
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-body,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-body,
#right-sidebar #block-views-group-documents-latest-block .view-group-documents-latest .views-field-body {
	padding-left: 5%;
	font-size: smaller;
}

#right-sidebar #block-views-events-upcoming-block .view-events-upcoming .views-field-view-node,
#right-sidebar #block-views-project-events-block-block .view-project-events-block .views-field-view-node,
#right-sidebar #block-views-group-documents-latest-block .view-group-documents-latest .views-field-view-node {
	font-size: smaller;
	text-align: right;
}

#block-views-news-latest-block,
#block-views-news-project-block {
	margin-top: -25px;
	margin-bottom: 0px;
	border-top: 1px solid #e2e2e2;
	border-bottom: none;
}

#zone2 #block-views-news-latest-block,
#zone2 #block-views-news-project-block {
	margin-top: -25px;
	margin-bottom: 0px;
	border-top: 1px solid #e2e2e2;
	border-bottom: none;
}

#block-views-news-latest-block .view-news-latest .views-row,
#block-views-news-project-block .view-news-project .views-row {
	border-bottom: 1px solid #e2e2e2;
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-field-news-date,
#block-views-news-project-block .view-news-project .views-row .views-field-field-news-date {
	font-size: smaller;	
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-field-photo,
#block-views-news-project-block .view-news-project .views-row .views-field-field-photo {
	float: right;
	margin: 0 0 2.564102564103% 2.564102564103%;
	padding: 5px;
	clear: right;
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-title h4,
#block-views-news-project-block .view-news-project .views-row .views-field-title h4 {
	font-size: larger;
	margin: 0px;
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-title a,
#block-views-news-project-block .view-news-project .views-row .views-field-title a {
	color: inherit;
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-body,
#block-views-news-project-block .view-news-project .views-row .views-field-body {
	padding-left: 5%;
	font-size: smaller;	
}

#block-views-news-latest-block .view-news-latest .views-row .views-field-created,
#block-views-news-project-block .view-news-project .views-row .views-field-created {
	clear: right;
}

#block-views-news-latest-block .feed-icon {
	display: none;
}

#zone2 #block-sharethis-sharethis-block {
	padding: 0px;
	border-bottom: none;
}

#edit-profile-user-profile-form .form-wrapper .form-item {
	margin-top: 0px;
}

#content-region #about-download-flyer {
	width: 15.38461538461538%;
	float: right;
	color: #ffffff;
	background-color: #00aeef;
	border-left: 4px solid #40c3f3;
	padding: 0 25px 25px 25px;
	margin-bottom: 25px;
}

#content-region #about-download-flyer .titlecontainer h3 {
	margin-bottom: 0px;
}

#content-region #about-download-flyer a {
	color: #ffffff;
}

.field-name-field-event-presentations .field-items {
	font-size: smaller;
}

.field-name-field-event-presentations .field-items table tr {
	padding-top: 0em;
	padding-bottom: 0em;
}

.field-name-field-event-presentations .field-items table tr th {
	padding-bottom: 0px;
}

.field-name-field-event-presentations .field-items table tr td {
	padding-top: 0px;
	padding-bottom: 0px;
}

.field-name-field-event-presentations .field-items table tr td:first-child {
    padding-left: 16px;
    text-indent: -16px;
}

.field-name-field-event-presentations .field-items table tr td:nth-child(2) {
	white-space: nowrap;
}

.image-misc {
	float: right;
	margin: 0 0 2.564102564103% 2.564102564103%;
	max-width: 31.623931623932%;
	height: auto;
	padding: 5px;
}

.image-misc-half {
	float: right;
	margin: 0 0 2.564102564103% 2.564102564103%;
	max-width: 15.811965811966%;
	height: auto;
	padding: 5px;
}

.image-widget-data .file img.file-icon {
	height: 16px;
	width: 16px;
}

.node-newsletter {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	padding: 2.564102564103%;
	border: 1px solid #00aeef;
	margin-bottom: 1em;
}

.node-newsletter h2 {
	color: #00aeef;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 16pt;
	text-align: center;
	text-transform: uppercase;
	line-height: 100%;
}

.node-newsletter h2.title {
	font-size: 20pt;
	text-align: left;
	text-transform: none;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #00aeef;
	padding-bottom: 0.5em;
}

.node-newsletter h3 {
	color: #00aeef;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
	line-height: 100%;
}

.node-newsletter h4 {
	color: #00aeef;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 13pt;
	text-align: center;
	line-height: 100%;
	
}

.node-newsletter h5 {
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	text-align: left;
	line-height: 100%;
}

.node-newsletter p {
	margin-bottom: 10px !important;	
}

.node-newsletter .partnerLogos {
	text-align: center;
	vertical-align: middle;
}

.node-newsletter .partnerLogos img {
	max-height: 36px;
	max-width: 72px;
	padding-right: 2px;
	padding-left: 2px;
	text-align: center;
	vertical-align: middle;
}

.node-newsletter table {
	border-collapse: separate;
	border-spacing: 15px;
	width: 100%;	
}

.node-newsletter table td {
	border: none;
	border-radius: 8px;
	background: #dee8ec;
	background: -webkit-linear-gradient(#dee8ec, #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#dee8ec, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #dee8ec, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#dee8ec, #ffffff);
	padding-top: 8px;
	padding-bottom: 0px;
}

.node-newsletter table .halftable {
	width: 50%;
}


.node-newsletter .prelist {
	margin-bottom: 0px !important;
}

.node-newsletter ul {
	margin-left: 40px;
}

.node-newsletter .bold {
	font-weight: bold;	
}

form.simplenews-subscribe {
	margin-bottom: 0px;
	text-align: right;
}

.issues-link {
	text-align: right;
}

#block-gtranslate-gtranslate .titlecontainer {
	display: none;
}
#block-gtranslate-gtranslate select {
	height: 15px;
	line-height: 15px;
	font-size: 92%;
	width: auto;
}

.view-og-extras-groups .views-row .views-field-title {
	font-size: 120%;
	padding-bottom: 0.5em;
}

/* /<group> */

.region-content #block-views-group-content-block {
	border-top: 1px solid #e2e2e2;
	border-bottom: none;
}

.region-content #block-views-group-content-block div div {
	clear: none;
	padding-bottom: 0em;
	border-top: none;
}

.region-content #block-views-group-content-block .views-field-title {
	font-weight: bold;
}

.region-content #block-views-group-content-block .views-field-title .field-content {
	margin-top: 0px;
	margin-bottom: 0px;
}

.region-content #block-views-group-content-block .views-field-title a {
	color: inherit;
}

.region-content #block-views-group-content-block .views-field-body {
	margin-left: 4.273504273504%;
}

.region-content #block-views-group-content-block .views-field-view-node {
	margin-left: 4.273504273504%;
}

.region-content #block-views-group-content-block .views-field-body .field-content > p:last-child {
	margin-bottom: 0px !important;
}

.region-content #block-views-group-content-block .views-field-field-event-date {
	margin-left: 4.273504273504%;
}

.region-content #block-views-group-content-block .views-field-field-event-date .views-label-field-event-date {
	font-weight: bold;
}

.region-content #block-views-group-content-block .views-field-field-event-date .field-content {
	display: inline;
}

.region-content #block-views-group-content-block .views-field-field-event-location {
	margin-left: 4.273504273504%;
}

.region-content #block-views-group-content-block .views-field-field-event-location .views-label-field-event-location {
	font-weight: bold;
}

.region-content #block-views-group-content-block .views-field-field-event-location .field-content {
	display: inline;
}

.region-content #block-views-group-content-block .views-field-field-website {
	margin-left: 4.273504273504%;
}

.region-content #block-views-group-content-block .views-field-field-website .views-label-field-website {
	font-weight: bold;
}

.region-content #block-views-group-content-block .views-field-field-website .field-content {
	display: inline;
}

.region-content .node-group {
	padding: 0;
}

.region-content .node-group .field-name-body {
	color: #00aeef;
	font-size: 15px;
	font-weight: bold;
}

.region-content .node-group .terms {
	margin: 0;
}

fieldset.captcha legend {
	border-bottom: none;
	margin-bottom: 0;
}


/* /newsletters */

.region-content .view-newsletters .views-field-title {
	font-weight: bold;
}

.region-content .view-newsletters .views-field-title .field-content {
	margin-bottom: 0px;
}

.region-content .view-newsletters .views-field-body {
	margin-left: 4.273504273504%;
}

.region-content .view-newsletters .views-field-view-node {
	margin-left: 4.273504273504%;
}

/* registration form */

#registration-form .form-item-who-is-registering label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-who-is-registering #edit-who-is-registering {
	display: inline;
}

#registration-form .form-item-user label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-user #edit-user {
	display: inline;
}

#registration-form .form-item-state label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-state #edit-state {
	display: inline;
}

#registration-form .form-item-anon-mail label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-anon-mail #edit-anon-mail {
	display: inline;
}

#registration-form .form-item-field-registrant-title-und label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-title-und #edit-field-registrant-title-und {
	display: inline;
}

#registration-form .form-item-field-registrant-first-name-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-first-name-und-0-value #edit-field-registrant-first-name-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-last-name-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-last-name-und-0-value #edit-field-registrant-last-name-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-phone-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-phone-und-0-value #edit-field-registrant-phone-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-job-position-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-job-position-und-0-value #edit-field-registrant-job-position-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-organisation-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-organisation-und-0-value #edit-field-registrant-organisation-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-department-und-0-value label {
	font-weight: bold;
	padding-right: 0.5em;
	display: inline;
}
#registration-form .form-item-field-registrant-department-und-0-value #edit-field-registrant-department-und-0-value {
	display: inline;
}

#registration-form .form-item-field-registrant-diet-und-0-value label {
	font-weight: bold;
}

#registration-form .form-item-field-biography-und-0-value label {
	font-weight: bold;
}

#registration-form .form-item-field-registrant-bremen-2014-tt-und label {
	font-weight: bold;
}

#registration-form .form-item-field-registrant-bremen-2014-tt-und #edit-field-registrant-bremen-2014-tt-und label.option {
	font-weight: normal;
}

#registration-form .form-item-field-photo-und-0 label {
	font-weight: bold;
}

#registration-form .form-item-field-registrant-bremen-2014-dt-und label {
	font-weight: bold;
}

#registration-form .form-item-field-registrant-bremen-2014-dt-und #edit-field-registrant-bremen-2014-dt-und label.option {
	font-weight: normal;
}

.view-registrations-auckland-2014-print td.views-field-field-biography {
	font-size: 6pt;
}

.view-registrations-fiji-2016-print td.views-field-field-biography {
	font-size: 6pt;
}

#registration-form .field-name-field-registrant-fiji2016-meals .form-item-field-registrant-fiji2016-meals-und label {
	font-weight: bold;
}

#registration-form .field-name-field-registrant-fiji2016-meals .form-item-field-registrant-fiji2016-meals-und #edit-field-registrant-fiji2016-meals-und {
	margin-left: 2em;
}

#registration-form .field-name-field-registrant-fiji2016-meals .form-item-field-registrant-fiji2016-meals-und #edit-field-registrant-fiji2016-meals-und label {
	font-weight: normal;
}

#registration-form .field-name-field-registrant-fiji2016-meals .form-item-field-registrant-fiji2016-meals-und .description {
	margin-left: 2em;
}

#registration-form .form-item-field-noumea2014-group-1-und label,
#registration-form .form-item-field-noumea2014-group-2-und label {
	font-weight: bold;
}

#registration-form .form-item-field-noumea2014-group-1-und #edit-field-noumea2014-group-1-und label,
#registration-form .form-item-field-noumea2014-group-2-und #edit-field-noumea2014-group-2-und label {
	font-weight: normal;
}

#registration-form .form-item-field-noumea2014-group-1-und #edit-field-noumea2014-group-1-und .form-item-field-noumea2014-group-1-und,
#registration-form .form-item-field-noumea2014-group-2-und #edit-field-noumea2014-group-2-und .form-item-field-noumea2014-group-2-und {
	margin-left: 2em;
}

#registration-form .form-item-field-noumea2014-group-2-und .description {
	line-height: normal;
}





#registration-form .form-item-field-noumea2015-obs-topic-und label {
	font-weight: bold;
}

#registration-form .form-item-field-noumea2015-obs-topic-und #edit-field-noumea2015-obs-topic-und .form-item-field-noumea2015-obs-topic-und {
	margin-left: 2em;
}

#registration-form .form-item-field-noumea2015-obs-topic-und #edit-field-noumea2015-obs-topic-und .form-item-field-noumea2015-obs-topic-und label {
	font-weight: normal;
}

#registration-form .form-item-field-noumea2015-obs-topic-und .description {
	line-height: normal;
}



#registration-form .form-item-field-noumea2015-obs-interests-und-0-value label {
	font-weight: bold;
}

#registration-form .form-item-field-noumea2015-obs-topic-und .description {
	line-height: normal;
}






#registration-form .form-item-field-registrant-nz-2014-evening-und label {
	font-weight: bold;
}

#registration-form .form-item-field-registrant-nz-2014-evening-und #edit-field-registrant-nz-2014-evening-und label.option {
	font-weight: normal;
}

.node-document-form label {
	font-weight: bold;
}

.node-interview-form label {
	font-weight: bold;
}

.node-interview-form #field-country-add-more-wrapper fieldset legend {
	display: none;
}

.region-content #user-login .form-type-textfield label {
	font-weight: bold;
	display: inline;
}
.region-content #user-login .form-type-textfield .form-text {
	display: inline;
}

.region-content #user-login .form-type-password label {
	font-weight: bold;
	display: inline;
}
.region-content #user-login .form-type-password .form-text {
	display: inline;
}

.region-content #user-pass .form-type-textfield label {
	font-weight: bold;
	display: inline;
}
.region-content #user-pass .form-type-textfield .form-text {
	display: inline;
}

.region-content #user-register-form .form-type-textfield label {
	font-weight: bold;
	display: inline;
}
.region-content #user-register-form .form-type-textfield .form-text {
	display: inline;
}

.field-name-field-gallery .field-label {
	padding-top: 0.75em;
}

#zone2 #content-area .content .node-event .content .field-item .span4[class*="pull-left"] {
	margin-left: 0;
	margin-right: 2.564102564102564%;
}

fieldset.webform-component-fieldset {
}

fieldset.webform-component-fieldset div.fieldset-wrapper {
	margin-left: 3em;
}

.field-name-field-event-photos {
	margin: 0;
	margin-top: 15px;
	border: none;
	padding: 0;
}

.field-name-field-event-photos .field-items .field-item {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
}

.field-name-field-event-photos .field-items .field-item img:hover {
	outline: 2px solid #e2e2e2;
}



@media print {
	body {
		color: black;
	}
	.region-page-top {
		display: none;
	}
	#topBar {
		display: none;
	}
	#page-wrapper {
		background: none;
		margin: 0;
		border: none;
		padding: 0;
		box-shadow: inherit;
	}
	.breadcrumb {
		display: none;
	}
	#wap-menu {
		display: none;
	}
	
	.region-footer #block-block-7 {
		display: none;
	}
	#block-gtranslate-gtranslate {
		display: none;
	}
}
